* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container {
    width: 1336px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(214, 97, 2);
}

header {
    border: solid black 5px;
    margin: 0px 0px 30px;
    background-color: aqua;
}
header li {
    display: inline;
    text-decoration: none;
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.article article img {
    height: 200px;
    margin: 20px;
}

.article article {
    margin: 30px 0;
    width: 50%;
}

footer {
    border: solid black;
}

.cabeçalho {
    background-color: white;
}

body {
    background-color: aqua;
}